table{
    width: 100%;
}

.mat-column-description{
    width: 35% !important;
    text-align: justify;
    cursor: pointer;
}

.mat-column-product_name{
    font-weight: bold;
}

.mat-column-product_actual_price{
    text-align: center;
}

.mat-column-product_discounted_price{
    text-align: center;
}

table th{
    font-weight: bold;
    text-align: center;
}

table td{
    padding: 10px;
}