<mat-toolbar color="primary">
  <span>E Commerce Application</span>
  <span class="example-spacer"></span>
  <button *ngIf="! isLoggedIn()" mat-raised-button color="primary" routerLink="/login">Login</button>
  <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-toolbar *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button *ngIf="isVendor()" mat-raised-button color="primary" routerLink="/addNewProduct">Add New Product</button>
  <button *ngIf="isVendor()" mat-raised-button color="primary" routerLink="/showProductDetails">Show Products</button>
</mat-toolbar>