<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <div class="card image-container">
                <img [src]="product.productImages[selectedProductIndex].url" class="product-zoom-image">

            </div>

            <div class="mt-2">
                <mat-grid-list cols="6" gutterSize="10" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of product.productImages; let i = index" (click)="changeIndex(i)"  style="border: 1px solid lightgrey; cursor: pointer;">
                        <img [src]="file.url" height="100px">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>


        </div>
        <div class="col-6">
            <div class="product-information">
                <div>
                    <h2>{{product.productName}}</h2>
                </div>
                <div >
                    <b><h2>{{product.productDiscountedPrice | currency: 'INR'}}</h2></b>
                    <p style="color: rgb(99, 99, 99);">M.R.P.: <span style="text-decoration: line-through;">{{product.productActualPrice | currency:'INR'}}</span></p>
                </div>
                <div class="mt-5">
                    <p style="text-align: justify;">
                        Description: <br>
                        {{product.productDescription}}
                    </p>
                </div>
                <div class="mt-5 text-center">
                    <button mat-raised-button color="warn" style="width: 200px; border-radius: 20px;  background-color: rgb(79, 175, 146);" (click)="buyProduct(product.productId)">Buy Now</button>
                    &nbsp;&nbsp;
                    <button mat-raised-button color="warn" style="width: 200px; border-radius: 20px;" (click)="addToCart(product.productId)">Add to Cart</button>
                </div>
                
            </div>

        </div>
    </div>
</div>
