<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="padding: 30px; max-width: 400px; width: 100%;">
        <form #registerForm = "ngForm" (ngSubmit)="register(registerForm)">
            <h1 class="text-center mb-4">Create Account</h1>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput 
                ngModel 
                name="userFirstName" 
                id="userFirstName" 
                placeholder="First Name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput 
                ngModel 
                name="userLastName" 
                id="userLastName" 
                placeholder="Last Name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput 
                ngModel 
                name="userName" 
                id="userName" 
                placeholder="Username">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'"
                ngModel 
                name="userPassword" 
                id="userPassword" 
                placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="text-center">
                <button type="submit" mat-raised-button color="warn" style="border-radius: 20px;">Register</button>
            </div>
        </form>
    </div>
</div>